body {
    margin: 0;
    height: 100vh; /*expand body to fill out the webpage*/

    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: 1px solid red;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#textBox {
    height: 40px;
    border: 1px solid red;
}

.buttonsRow {
    box-sizing: border-box;
    width: 160px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
