body {
    margin: 0;
    height: 100vh; /*expand body to fill out the webpage*/

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: #22252D;
}

#container {
    padding: 25px;
    width: 315px;
    height: 445px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: #2A2D36;
    border-radius: 40px;
    box-shadow: 0px 10px 20px 0px;
}

#textBox {
    padding: 10px;
    height: 80px;
    width: 290px;

    background-color: #1B1E26;
    color: white;

    /* Assume when there's text inside */
    font-size: 36px;
    font-weight: 500;
    border-radius: 20px;
    text-align: right;
}

.buttonsRow {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.buttonsRow button {
    font-size: 20px;
    padding: 0;
    border: 0;

    display: inline-block;
    width: 67px;
    height: 67px;

    border-radius: 50%;
    cursor: pointer;
}

.numberButtons {
    background-color: #4E505F;
    color: white;
}

.topRowFunctions_buttons {
    background-color: #656879;
    color: #4FC3F7;
}

.operators {
    background-color: #FF9F43;
    color: #22252D;
}

#equalButton {
    background-color: #4ADE86;
    color: white;
}
